<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:if="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Staff manager</title>

    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
            rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <link rel="stylesheet" th:href="@{/css/text.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <style>
        body {
            background-color: #171717;
        /*    3c373e*/
        }

        .title {
            background: none;
        }

    </style>

    <!-- Style -->
</head>
<body>

<div class="container-fluid text-center">

    <div class="content_table">
        <div class="container">
            <div class="content">
                <h2 class="title"> Meow Manager
                    <div class="aurora">
                        <div class="aurora__item"></div>
                        <div class="aurora__item"></div>
                        <div class="aurora__item"></div>
                        <div class="aurora__item"></div>
                    </div>
                </h2>
                <p class="subtitle">Welcome to Page</p>
            </div>
            <div class="m-2 text-center">
                <button class="glow-on-hover" type="button"><a th:href="@{/staffs/new}">Add new meow</a></button>
                <button class="glow-on-hover" type="button"><a th:href="@{/staff/show}">Show meow</a></button>
            </div>

            <div th:if="${message}" class="alert alert-success text-center">
                [[${message}]]
            </div>

            <div class="table-responsive">
                <table class="table table-striped custom-table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Position</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Enable</th>
                        <th scope="col">Extension</th>
                    </tr>
                    </thead>
                    <!--            <tbody>-->
                    <!--            <th:block th:each="staff : ${listStaffs}">-->
                    <!--                <tr>-->
                    <!--                    <td th:text="${staff.id}"></td>-->
                    <!--                    <td th:text="${staff.email}"></td>-->
                    <!--                    <td th:text="${staff.firstName}"></td>-->
                    <!--                    <td th:text="${staff.lastName}"></td>-->
                    <!--                    <td th:text="${staff.position}"></td>-->
                    <!--                    <td th:text="${staff.enabled}"></td>-->
                    <!--                    <td>-->
                    <!--                        <div class="d-flex justify-content-around">-->
                    <!--                            <form th:action="@{'/staffs/edit/' + ${staff.id}}" method="get">-->
                    <!--                                <button class="btn btn-primary" type="submit">Edit</button>-->
                    <!--                            </form>-->
                    <!--                            <form th:action="@{'/staffs/delete/' + ${staff.id}}" method="get">-->
                    <!--                                <button class="btn btn-danger" type="submit">Delete</button>-->
                    <!--                            </form>-->
                    <!--                        </div>-->
                    <!--                    </td>-->
                    <!--                </tr>-->
                    <!--            </th:block>-->
                    <!--            </tbody>-->
                    <tbody>

                    <th:block th:each="staff : ${listStaffs}">
                        <tr>
                            <td th:text="${staff.id}"></td>
                            <td><a th:href="@{'#'}" th:text="${staff.email}"></a></td>
                            <td>
                                <span th:text="${staff.position}"></span>
                                <small class="d-block" th:text="${staff.position}"></small>
                            </td>
                            <td th:text="${staff.firstName}"></td>
                            <td th:text="${staff.lastName}"></td>
                            <td th:text="${staff.lastName}"></td>
                            <td th:text="${staff.enabled}"></td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <form th:action="@{'/staffs/edit/' + ${staff.id}}" method="get">
                                        <button class="btn btn-primary" type="submit">Edit</button>
                                    </form>
                                    <form th:action="@{'/staffs/delete/' + ${staff.id}}" method="get">
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>

    <!--    <h1>Manage Staffs</h1>-->
    <!--    <div class="m-2">-->
    <!--        <a class="h3" th:href="@{/staffs/new}">Add new staff</a>-->
    <!--        <br>-->
    <!--        <a class="h3" th:href="@{/staff/show}">Show Staff</a>-->
    <!--    </div>-->

    <!--    <div th:if="${message}" class="alert alert-success text-center">-->
    <!--        [[${message}]]-->
    <!--    </div>-->

    <!--    <div>-->
    <!--        <table class="table table-bordered">-->
    <!--            <thead class="thead-dark">-->
    <!--            <tr>-->
    <!--                <th>ID</th>-->
    <!--                <th>Email</th>-->
    <!--                <th>First Name</th>-->
    <!--                <th>Last Name</th>-->
    <!--                <th>Position</th>-->
    <!--                <th>Enable</th>-->
    <!--                <th>Extension</th>-->
    <!--            </tr>-->
    <!--            </thead>-->
    <!--            <tbody>-->
    <!--            <th:block th:each="staff : ${listStaffs}">-->
    <!--                <tr>-->
    <!--                    <td th:text="${staff.id}"></td>-->
    <!--                    <td th:text="${staff.email}"></td>-->
    <!--                    <td th:text="${staff.firstName}"></td>-->
    <!--                    <td th:text="${staff.lastName}"></td>-->
    <!--                    <td th:text="${staff.position}"></td>-->
    <!--                    <td th:text="${staff.enabled}"></td>-->
    <!--                    <td>-->
    <!--                        <div class="d-flex justify-content-around">-->
    <!--                            <form th:action="@{'/staffs/edit/' + ${staff.id}}" method="get">-->
    <!--                                <button class="btn btn-primary" type="submit">Edit</button>-->
    <!--                            </form>-->
    <!--                            <form th:action="@{'/staffs/delete/' + ${staff.id}}" method="get">-->
    <!--                                <button class="btn btn-danger" type="submit">Delete</button>-->
    <!--                            </form>-->
    <!--                        </div>-->
    <!--                    </td>-->
    <!--                </tr>-->
    <!--            </th:block>-->
    <!--            </tbody>-->
    <!--        </table>-->
    <!--    </div>-->

</div>
</body>
</html>
